<h3>About Me</h3>

<p>
  This blog was created as an excercise to learn and understand Ember.js.  I decided to write about different animals in the hopes of generating an interest in wildlife in others.  There are some weird, cool, amazing, wonderous animals out there.  Take a look around and explore.
</p>

{{#link-to 'contact'}}{{/link-to}}<br>
{{#link-to 'index'}}{{/link-to}}
